*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

body {
  overflow-x: hidden;
  font-weight: 200;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 36px;
  padding: 20px 0;
  font-weight: 600;
}

button {
  border: 1.6px solid rgb(199, 199, 199);
  background-color: transparent;
  cursor: pointer;
}

canvas {
}
